/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Life Savers', serif;
  font-size: 50px;
  color: #2B4E80;
  text-align: center;
  padding: 10px 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box1 {
  display: flex;
  flex-direction: column;
  background-color: #E6ECF4;
  width: 480px;
  padding: 20px;
  margin-right: 30px;
}

.question-field {
  color: #2B4E80;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

#submit-button {
  color: white;
  background-color: #2B4E80;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  padding: 10px;
}

.eight-ball-img {
  margin-top: 40px;
  align-self: center;
  width: 130px;
}

#clear-button {
  margin-top: 80px;
  align-self: flex-end;
  background-color: #D0CDCD;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  padding: 10px;
}

.box2 {
  margin-left: 30px;
}

.woody-img {
  height: auto;
  width: 300px;
}
